/* HAAJEE FONTS */
body,h1,h2,h3,h4,h5,h6,p,a,span,button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.woocommerce a.button,
.woocommerce input.button,
.comment-navigation a,
.drawer .tax-widget a,
.su-button,
h3.comments-title,
a.added_to_cart,
#page #infinite-handle button {
    font-family: "eurostile",sans-serif;
}

body {
    background-color: #fff;
}

#page {
    padding-top: 0;
}

#primary {
    display: block;
    width: 100%;
    position: relative;
    @include viewport(largerthanmobile) {
        min-height: 50vh;
    }
}