/* HAAJEE HEADER */
.site-identity {
    z-index: 3;
    padding: 5% 0;
    @include viewport(mobile) {
        padding: 4% 0;
    }
}

.site-header {
    font-size: 18px;
    text-transform: uppercase;
}

.container.haajee_mobile_page-title {
    display: none;
    @include viewport(tablet) {
        display: block;
        .header-text {
            margin-top: 8%;
            h1 {
                font-size: 2rem;
            }
        }
    }
}

.haajee_stripes {
    text-transform: uppercase;
    span.meter {
        position: absolute;
        display: block;
        height: 1.4rem;
        width: 100%;
        background: repeating-linear-gradient(
            90deg,
            #000,
            #000 2px,
            transparent 2px,
            transparent 6px);
    }
}

@keyframes drawCurtain {
    0% { transform: translateX( 0% ) }
    100% { transform: translateX( 100% ) }
 }

.haajee_overlay {
    padding-top: 5%;
    @include viewport(mobile) {
        padding-top: 4%;
    }

    .haajee_stripes {
        text-align:right;
        overflow-x: hidden;
        span.meter.curtain {
            z-index:4;
            background: white;
            animation: drawCurtain 2s linear forwards;
        }
    }
}


.haajee_stripes_inner {
    height: 100%;
}

.haajee_stripes_part {
    width: 100%;
    max-height: 100%;
    &.haajee_stripes_part--right {
        text-align: right;
    }
    h1.haajee_page-title, .site-title a {
        font-size: 1.75rem;
        line-height: 0.875;
        display: inline-block;
        margin: 0;
        padding: 0 0.5rem 0.125rem;
        transform:translateY(-0.125rem) translateX(0.5rem);
    }
    h1.haajee_page-title {
        float: left;
        font-weight: bold;
        margin-left: -0.5rem;
        @include viewport(tablet) {
            display: none;
        }

    }
    .site-title {
        font-family: inherit;
        font-size: inherit;
        display: block;
        margin: 0;
        a {
            position: inherit;
            float: right;
        }
    }

}

