.top-navigation {
    z-index: 5;
}

.top-navigation-right {
    display: block;
    float: none;
    margin-top: 0.3em;
}

.site-identity {
    .main-navigation {
        font-weight: normal;
        @include viewport(tablet) {
            display: block;
        }
        ul {
            line-height: 1.25;
            li {
                font-size: 1em;
                display: block;
                padding: 0;
                a {
                    line-height: 1.25;
                    margin: 0;
                    padding-right: 0;
                }
            }
        }

        li.current_page_item a,
        li a:hover,
        li.current-menu-item a {
            color: inherit;
            font-weight: bold;
        }
    }
}

.single-jetpack-portfolio .site-identity .main-navigation ul li.page-item-98 {
    color: inherit;
    font-weight: bold;
}

.page-navigation,
.carousel-navs {
    &>div {
        width: 50%;
    }
    .haajee_alignright {
        float: right;
    }
    .haajee_alignleft {
        float: left;
    }
    a.button,
    button {
        width: auto;
        border-radius: 0;
        box-shadow: none;
        span {
            width: auto;
            height: auto;
            padding: 0;
            line-height: inherit;
            vertical-align: baseline;
        }
        i {
            font-size: 30px;
            color: #000;
        }
        &:hover {
            color: inherit;
            font-weight: bold;
            box-shadow: 0 5px 10px rgba(50, 50, 93, 0.1), 0 0px 5px rgba(0, 0, 0, 0.05);
        }
    }
}

.no-navs .carousel-navs {
    display: none !important;
}

.page-template-template-portfolio-grid .page-navigation {
    width: 100%;
    .haajee_alignright i {
        float: left;
    }
    .haajee_alignleft i {
        float: left
    }
    .haajee_alignright span.haajee_post-nav-helper {
        float: left;
        margin-right: 1rem;
    }
    .haajee_alignleft span.haajee_post-nav-helper {
        float: right;
        margin-left: 1rem;
    }
    &>div span {
        border-radius: none;
        box-shadow: none;
    }
    @include viewport(largerthanmobile) {
        position: absolute;
        padding: 0;
        top: 50%;
        left: 0;
        transform:translateY(-50%);
        &>div {
            width: auto;
            span {
                display: none;
            }
        }
    }
    @include viewport(largerthantablet) {
        .haajee_alignright {
            float: right;
            transform:translateX(100%);
        }
        .haajee_alignleft {
            float: left;
            transform:translateX(-100%);
        }
    }
}
.jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs {
    width: 100%;
    margin-top: 0;
    left: 0;
    position: relative;
    &>div {
        width: auto;
        span {
            display: none;
        }
        button {
            background: rgba(255,255,255,0.1);
            &:hover {
                background: rgba(255,255,255,1);
            }
        }
    }
    @include viewport(largerthantablet) {
        button {
            background: rgba(255,255,255,1);
        }
        .haajee_alignright {
            float: right;
            transform:translateX(100%);
        }
        .haajee_alignleft {
            float: left;
            transform:translateX(-100%);
        }
    }
}

.single-jetpack-portfolio {
    .nav-links {
        margin-top: 8%;
        &>div {
            i {
                font-size: 30px;
                color: #000;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            .post-title {
                font-weight: normal;
            }
            .haajee_post-nav-text-wrapper {
                position: relative;
            }
            &.nav-previous {
                margin-left: -50px;
                .haajee_post-nav-text-wrapper {
                    padding-left: 3rem;
                    i {
                        left: 0;
                    }
                }
            }
            &.nav-next {
                text-align: right;
                margin-right: -50px;
                    .haajee_post-nav-text-wrapper {
                    padding-right: 3rem;
                    i {
                        right: 0;
                    }
                }
            }
            @include viewport(mobile) {
                &.nav-next {
                    margin-right: 0;
                }
                &.nav-previous {
                    margin-left: 0;
                }
            }
        }
    }
}

/* Hides navigation links and site footer when infinite scroll is active */
.post-type-archive-jetpack-portfolio .page-navigation {
    display: none;
}
