/* HAAJEE PROJECTS PAGE */
.haajee_overlay {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


/* HAAJEE CONTACT PAGE */
.page-id-90 {
    #primary {
        @include viewport(largerthanmobile) {
            float: left;
            width: 40%;
        }
    }
}

.haajee_widget-area--contact {
    margin-top: 0;
    @include viewport(largerthanmobile) {
        float: left;
        width: 60%;
        min-height: 50vh;
    }
    li {
        list-style: none;
        margin-top: -1rem;
    }
    .leaflet-map {
        min-height: 50vh;
    }
}

/* HAAJEE OVER PAGE */

.page-template-template-resume #primary {
    box-shadow: none;
    padding: 8% 0;
}