label.haajee_meta-label {
    font-weight: bold;
    + h1 {
        font-size: 1em;
        font-weight: normal;
    }
}

ul.haajee_meta-list {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        margin-bottom: 1em;
    }
}



.portfolio-text {
    display: block;
    padding: 1rem 0 0.5rem;
    h2.entry-title {
        margin-bottom: 0;
    }
}

.grid-cats {
    text-align: center;
    a {
        display: inline-block;
        &:last-child::after {
            display: none;
        }
    }
}

@supports (display: grid) {
    .section-portfolio::before,
    .section-portfolio::after {
        display: none;
    }
    .section-portfolio-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        .jetpack-portfolio {
            width: auto;
            float: none;
            margin-right: 0;
        }
    }
}