/* HAAJEE PROJECT SLIDER */

.haajee_carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .carousel-navs {
        position: absolute;
    }
}

.slick-slider {
    padding: 0;
}

.single-jetpack-portfolio {
    .first-gallery.slick-slider {
        padding-top: 0;
        display: block;
        max-width: 1300px;
        @include viewport(largerthantablet) {
            padding: 0 8%;
        }   
        @include viewport(tablet) {
            padding: 0 4%;
        }
        @include viewport(mobile) {
            padding: 0 15px;
        }
        margin: 0 auto;
        .slick-list {
            img {
                max-height: calc(100vh - 8%);
                width: auto;
                margin: 0 auto;
            }
        }
        .gallery-item {
            margin: 0;
        }
    }
}