
$haajee_container_width: 1300px;

$haajee_largedesktop_min: $haajee_container_width + 1px;

$haajee_desktop_max: 1250px;

$haajee_tablet_max: 1000px;

$haajee_tablet_min: $haajee_tablet_max + 1px;

$haajee_mobile_max: 600px;

$haajee_mobile_min: $haajee_mobile_max + 1px;

/* Responsive media query mixins */
@mixin viewport($point) {
    @if $point == largedesktop {
		@media ( min-width: $haajee_largedesktop_min ) { @content; }
	}
	@if $point == desktop {
		@media ( max-width: $haajee_desktop_max ) { @content; }
	}
	@if $point == largerthantablet {
		@media ( min-width: $haajee_tablet_min ) { @content; }
	}
	@else if $point == tablet {
		@media ( max-width: $haajee_tablet_max )  { @content; }
	}
	@if $point == largerthanmobile {
		@media ( min-width: $haajee_mobile_min ) { @content; }
	}
	@else if $point == mobile {
		@media ( max-width: $haajee_mobile_max )  { @content; }
	}
}
