/* VARIABLES */
/* These variables are used througout style.scss. */
/* Body font styles */
/* Title font styles */
/* Color variables */
/* Responsive media query mixins */
/* Styles for small text with uppercase font style. Used on dates and post meta */
/* Responsive media query mixins */
/* ADDITIONAL STYLES */
/* HAAJEE FONTS */
body, h1, h2, h3, h4, h5, h6, p, a, span, button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.woocommerce a.button,
.woocommerce input.button,
.comment-navigation a,
.drawer .tax-widget a,
.su-button,
h3.comments-title,
a.added_to_cart,
#page #infinite-handle button {
  font-family: "eurostile",sans-serif; }

body {
  background-color: #fff; }

#page {
  padding-top: 0; }

#primary {
  display: block;
  width: 100%;
  position: relative; }
  @media (min-width: 601px) {
    #primary {
      min-height: 50vh; } }

/* HAAJEE HEADER */
.site-identity {
  z-index: 3;
  padding: 5% 0; }
  @media (max-width: 600px) {
    .site-identity {
      padding: 4% 0; } }

.site-header {
  font-size: 18px;
  text-transform: uppercase; }

.container.haajee_mobile_page-title {
  display: none; }
  @media (max-width: 1000px) {
    .container.haajee_mobile_page-title {
      display: block; }
      .container.haajee_mobile_page-title .header-text {
        margin-top: 8%; }
        .container.haajee_mobile_page-title .header-text h1 {
          font-size: 2rem; } }

.haajee_stripes {
  text-transform: uppercase; }
  .haajee_stripes span.meter {
    position: absolute;
    display: block;
    height: 1.4rem;
    width: 100%;
    background: repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px, transparent 6px); }

@keyframes drawCurtain {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(100%); } }

.haajee_overlay {
  padding-top: 5%; }
  @media (max-width: 600px) {
    .haajee_overlay {
      padding-top: 4%; } }
  .haajee_overlay .haajee_stripes {
    text-align: right;
    overflow-x: hidden; }
    .haajee_overlay .haajee_stripes span.meter.curtain {
      z-index: 4;
      background: white;
      animation: drawCurtain 2s linear forwards; }

.haajee_stripes_inner {
  height: 100%; }

.haajee_stripes_part {
  width: 100%;
  max-height: 100%; }
  .haajee_stripes_part.haajee_stripes_part--right {
    text-align: right; }
  .haajee_stripes_part h1.haajee_page-title, .haajee_stripes_part .site-title a {
    font-size: 1.75rem;
    line-height: 0.875;
    display: inline-block;
    margin: 0;
    padding: 0 0.5rem 0.125rem;
    transform: translateY(-0.125rem); }
  .haajee_stripes_part h1.haajee_page-title {
    float: left;
    font-weight: bold;
    margin-left: -0.5rem; }
    @media (max-width: 1000px) {
      .haajee_stripes_part h1.haajee_page-title {
        display: none; } }
  .haajee_stripes_part .site-title {
    font-family: inherit;
    font-size: inherit;
    display: block;
    margin: 0; }
    .haajee_stripes_part .site-title a {
      position: inherit;
      float: right; }

/* HAAJEE PROJECTS PAGE */
.haajee_overlay {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

/* HAAJEE CONTACT PAGE */
@media (min-width: 601px) {
  .page-id-90 #primary {
    float: left;
    width: 40%; } }

.haajee_widget-area--contact {
  margin-top: 0; }
  @media (min-width: 601px) {
    .haajee_widget-area--contact {
      float: left;
      width: 60%;
      min-height: 50vh; } }
  .haajee_widget-area--contact li {
    list-style: none;
    margin-top: -1rem; }
  .haajee_widget-area--contact .leaflet-map {
    min-height: 50vh; }

/* HAAJEE OVER PAGE */
.page-template-template-resume #primary {
  box-shadow: none;
  padding: 8% 0; }

label.haajee_meta-label {
  font-weight: bold; }
  label.haajee_meta-label + h1 {
    font-size: 1em;
    font-weight: normal; }

ul.haajee_meta-list {
  padding: 0;
  margin: 0; }
  ul.haajee_meta-list li {
    list-style: none;
    margin-bottom: 1em; }

.single-jetpack-portfolio .first-gallery.slick-slider {
  max-width: 1300px;
  margin: 0 auto;
  display: block; }
  @media (min-width: 1001px) {
    .single-jetpack-portfolio .first-gallery.slick-slider {
      padding: 0 8%; } }
  @media (max-width: 1000px) {
    .single-jetpack-portfolio .first-gallery.slick-slider {
      padding: 0 4%; } }
  @media (max-width: 600px) {
    .single-jetpack-portfolio .first-gallery.slick-slider {
      padding: 0 15px; } }
  .single-jetpack-portfolio .first-gallery.slick-slider .slick-list img {
    max-height: calc(100vh - 8%);
    width: auto;
    margin: 0; }
  .single-jetpack-portfolio .first-gallery.slick-slider .gallery-item {
    margin: 0; }

.page-template-template-portfolio-grid .portfolio-text {
  display: block;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: none; }

.page-template-template-portfolio-grid .haajee_has-image .haajee_portfolio_item {
  position: relative;
  width: 100%; }

.page-template-template-portfolio-grid .haajee_has-image .featured-image {
  border: 0;
  z-index: 1; }

.page-template-template-portfolio-grid .haajee_has-image .portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 101%; }

.page-template-template-portfolio-grid .haajee_has-image:hover .portfolio-text {
  z-index: 2; }

.page-template-template-portfolio-grid .haajee_no-image .entry-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.top-navigation {
  z-index: 5; }

.top-navigation-right {
  display: block;
  float: none;
  margin-top: 0.3em; }

.site-identity .main-navigation {
  font-weight: normal; }
  @media (max-width: 1000px) {
    .site-identity .main-navigation {
      display: block; } }
  .site-identity .main-navigation ul {
    line-height: 1.25; }
    .site-identity .main-navigation ul li {
      font-size: 1em;
      display: block;
      padding: 0 0.25em; }
      .site-identity .main-navigation ul li a {
        line-height: 1.25;
        margin: 0; }
  .site-identity .main-navigation li.current_page_item a,
  .site-identity .main-navigation li a:hover {
    color: inherit;
    font-weight: bold; }

.single-jetpack-portfolio .site-identity .main-navigation ul li.page-item-98 {
  color: inherit;
  font-weight: bold; }

.page-template-template-portfolio-grid .page-navigation > div,
.carousel-navs > div {
  width: 50%; }

.page-template-template-portfolio-grid .page-navigation .haajee_alignright,
.carousel-navs .haajee_alignright {
  float: right; }

.page-template-template-portfolio-grid .page-navigation .haajee_alignleft,
.carousel-navs .haajee_alignleft {
  float: left; }

.page-template-template-portfolio-grid .page-navigation a.button,
.page-template-template-portfolio-grid .page-navigation button,
.carousel-navs a.button,
.carousel-navs button {
  width: auto;
  border-radius: 0;
  box-shadow: none; }
  .page-template-template-portfolio-grid .page-navigation a.button span,
  .page-template-template-portfolio-grid .page-navigation button span,
  .carousel-navs a.button span,
  .carousel-navs button span {
    width: auto;
    height: auto;
    padding: 0;
    line-height: inherit;
    vertical-align: baseline; }
  .page-template-template-portfolio-grid .page-navigation a.button i,
  .page-template-template-portfolio-grid .page-navigation button i,
  .carousel-navs a.button i,
  .carousel-navs button i {
    font-size: 30px;
    color: #000; }
  .page-template-template-portfolio-grid .page-navigation a.button:hover,
  .page-template-template-portfolio-grid .page-navigation button:hover,
  .carousel-navs a.button:hover,
  .carousel-navs button:hover {
    color: inherit;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(50, 50, 93, 0.1), 0 0px 5px rgba(0, 0, 0, 0.05); }

.no-navs .carousel-navs {
  display: none !important; }

.page-template-template-portfolio-grid .page-navigation {
  width: 100%; }
  .page-template-template-portfolio-grid .page-navigation .haajee_alignright i {
    float: left; }
  .page-template-template-portfolio-grid .page-navigation .haajee_alignleft i {
    float: left; }
  .page-template-template-portfolio-grid .page-navigation .haajee_alignright span.haajee_post-nav-helper {
    float: left;
    margin-right: 1rem; }
  .page-template-template-portfolio-grid .page-navigation .haajee_alignleft span.haajee_post-nav-helper {
    float: right;
    margin-left: 1rem; }
  .page-template-template-portfolio-grid .page-navigation > div span {
    border-radius: none;
    box-shadow: none; }
  @media (min-width: 601px) {
    .page-template-template-portfolio-grid .page-navigation {
      position: absolute;
      padding: 0;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
      .page-template-template-portfolio-grid .page-navigation > div {
        width: auto; }
        .page-template-template-portfolio-grid .page-navigation > div span {
          display: none; } }
  @media (min-width: 1001px) {
    .page-template-template-portfolio-grid .page-navigation .haajee_alignright {
      float: right;
      transform: translateX(100%); }
    .page-template-template-portfolio-grid .page-navigation .haajee_alignleft {
      float: left;
      transform: translateX(-100%); } }

.jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs {
  width: 100%;
  margin-top: 0;
  left: 0;
  position: relative; }
  .jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs > div {
    width: auto; }
    .jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs > div span {
      display: none; }
    .jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs > div button {
      background: rgba(255, 255, 255, 0.1); }
      .jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs > div button:hover {
        background: white; }
  @media (min-width: 1001px) {
    .jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs {
      top: -402px; }
      .jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs button {
        background: white; }
      .jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs .haajee_alignright {
        float: right;
        transform: translateX(100%); }
      .jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs .haajee_alignleft {
        float: left;
        transform: translateX(-100%); } }
  @media (max-width: 1000px) {
    .jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs {
      top: -38.5vw; }
      .jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs .haajee_alignright {
        float: right; }
      .jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs .haajee_alignleft {
        float: left; } }
  @media (max-width: 600px) {
    .jetpack-portfolio-template-template-portfolio-center-carousel .carousel-navs {
      top: -42.5vw; } }

.single-jetpack-portfolio .nav-links {
  margin-top: 8%; }
  .single-jetpack-portfolio .nav-links > div i {
    font-size: 30px;
    color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .single-jetpack-portfolio .nav-links > div .post-title {
    font-weight: normal; }
  .single-jetpack-portfolio .nav-links > div .haajee_post-nav-text-wrapper {
    position: relative; }
  .single-jetpack-portfolio .nav-links > div.nav-previous {
    margin-left: -50px; }
    .single-jetpack-portfolio .nav-links > div.nav-previous .haajee_post-nav-text-wrapper {
      padding-left: 3rem; }
      .single-jetpack-portfolio .nav-links > div.nav-previous .haajee_post-nav-text-wrapper i {
        left: 0; }
  .single-jetpack-portfolio .nav-links > div.nav-next {
    text-align: right;
    margin-right: -50px; }
    .single-jetpack-portfolio .nav-links > div.nav-next .haajee_post-nav-text-wrapper {
      padding-right: 3rem; }
      .single-jetpack-portfolio .nav-links > div.nav-next .haajee_post-nav-text-wrapper i {
        right: 0; }
  @media (max-width: 600px) {
    .single-jetpack-portfolio .nav-links > div.nav-next {
      margin-right: 0; }
    .single-jetpack-portfolio .nav-links > div.nav-previous {
      margin-left: 0; } }

/* HAAJEE PROJECT SLIDER */
.jetpack-portfolio-template-template-portfolio-center-carousel .slick-slider {
  padding: 0; }
